@import 'https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Special+Elite';

@keyframes shakes {
    0% {
        transform: translate(2px, 1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 1px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(0deg);
    }
}

@keyframes bigshakes {
    0% {
        transform: translate(2px, -8px) rotate(-1deg);
    }
    50% {
        transform: translate(-9px, 10px) rotate(-18deg);
    }
    100% {
        transform: translate(6px, -2px) rotate(1deg);
    }
}

@keyframes glow {
    0% {
        box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.35);
    }
    100% {
        box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.5);
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 105%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Nothing You Could Do';
    color: #888;
}

html {
    background: #444;
}

body {
    background: #000;
    height: auto;
    background: rgb(94, 94, 94);
    background: radial-gradient(ellipse at center, rgba(94, 94, 94, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ccc;
    font-size: 30px;
    font-family: 'Special Elite';
}

a {
    display: inline-block;
    color: #a00;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.25s, background 0.25s, background-color 0.25s, text-shadow 0.25s;
    transform: translate(0px, 0px) rotate(0deg);
}

a:hover {
    text-shadow: 0px 0px 18px rgba(255, 0, 0, 1);
    animation: shakes 0.1s linear infinite;
}

#container {
    background: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.5);
    animation: glow 3s linear infinite;
}

#shakewrap {
    z-index: 1;
    pointer-events: none;
    height: 100vmax;
    width: 120%;
    position: fixed;
    top: -20px;
    left: -20px;
    animation: bigshakes 0.1s linear infinite;
    opacity: 0.5;
    background-color: #111;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 65%, rgba(0, 0, 0, 1) 100%);
}
